#site-header {

  .mainMenu, .mainMenu2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: outside none none;

    li {
      a, span{
        cursor: pointer;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        opacity: 1;
        padding: .5rem;
      }
    }
  }

}
