
.header {
  /* offcanvas mobile menu */
  .offcanvasMobileMenu {
    position: fixed;
    z-index: 999999999999;
    top: 0;
    right: 0;

    width: 400px;
    max-width: 100%;
    height: 100vh;
    padding-left: 60px;

    transition: 0.6s;
    transform: translateX(100%);

    &.active {
      transform: translateX(0);
    }

    &.inactive {
      transform: translateX(calc(100% + 60px));
    }
  }

  /* close btn */
  .offcanvasMenuClose {
    font-size: 30px;
    line-height: 1;

    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;

    width: 60px;
    height: 55px;
    padding: 0;

    text-align: center;

    color: #FFF;
    border: none;
    background: #343538;

    &:hover,
    &:focus {
      color: #FFF;
      outline: none;
    }

    i {
      font-size: 40px;
      line-height: 1;

      margin-top: 12px;

      transition: 0.3s;
      transform: rotate(0);
    }

    &:hover {
      i {
        transform: rotate(-90deg);
      }
    }
  }

  /* estilo e compoetamento */
  .offcanvasWrapper {
    overflow: auto;

    height: 100%;

    background-color: #FFF;
    box-shadow: 0 0 87px 0 rgba(0, 0, 0, 0.09);
  }

  /* compotamento interno/"dos filhos" */
  .offcanvasInnerContent {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 90px 35px 0;

    @media #{$sm-layout} {
      padding: 70px 25px 0;
    }
  }

  /* offcanvas settings */

  .offcanvasNavigation {
    margin-bottom: 50px;
    ul {
      li {
        &.menuItemHasChildren {
          .subMenu {
            visibility: hidden;

            height: 0;

            transition: 0.3s;

            opacity: 0;
          }

          &.active {
            & > .subMenu {
              visibility: visible;

              height: 100%;

              opacity: 1;
            }
          }
        }
      }
    }

    ul {
      &.subMenu {
        margin-left: 25px;
        padding-left: 0;

        transition: 0.3s;
        & > li {
          & > a {
            font-size: 13px;
            font-weight: 400;

            padding: 10px 0;
            &:hover {
              color: $theme-color;
            }

            @media #{$sm-layout} {
              font-size: 13px;
              line-height: 18px;
            }
          }
        }
      }
      li {
        a {
          font-weight: 600;

          display: block;

          padding: 10px 0;

          color: #111;
          &:hover {
            color: $theme-color;
          }
          text-transform: uppercase;

          @media #{$sm-layout} {
            font-size: 14px;
            line-height: 20px;
          }
        }

        &.menuItemHasChildren {
          position: relative;

          display: block;
          a {
            display: block;
          }

          &.active {
            & > .menuExpand {
              i {
                &:before {
                  transform: rotate(0);
                }
              }
            }
          }

          .menuExpand {
            line-height: 50px;

            position: absolute;
            top: -5px;
            right: auto;
            left: 95%;

            width: 30px;
            height: 50px;

            cursor: pointer;
            text-align: center;

            i {
              position: relative;

              display: block;

              width: 10px;
              margin-top: 25px;

              transition: all 250ms ease-out;

              border-bottom: 1px solid;
              &:before {
                position: absolute;
                top: 0;

                display: block;

                width: 100%;

                content: "";
                transform: rotate(90deg);

                border-bottom: 1px solid;
              }
            }
          }
        }
      }
    }
  }

  //

  .offcanvasWidgetArea {
    margin-top: auto;
    margin-bottom: 35px;

    @media #{$sm-layout} {
      margin-bottom: 30px;
    }
  }

}
