@charset "UTF-8";
/*
  variáveis scss
 */
/* Layouts*/
/*===== Social Colors =====//*/
#site-header {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  transition-duration: 1500ms;
  padding-left: 1.5rem;
}
#site-header .mainMenu, #site-header .mainMenu2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: outside none none;
}
#site-header .mainMenu li a, #site-header .mainMenu li span, #site-header .mainMenu2 li a, #site-header .mainMenu2 li span {
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  opacity: 1;
  padding: 0.5rem;
}
#site-header .offcanvasNavigation ul, #site-header .offcanvasWidgetArea ul {
  list-style: none;
  margin-left: 0;
  padding-left: 10px;
}
#site-header .offcanvasNavigation li a, #site-header .offcanvasNavigation li span, #site-header .offcanvasWidgetArea li a, #site-header .offcanvasWidgetArea li span {
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  opacity: 1;
  display: block;
  padding: 10px 0;
}
#site-header .mobile-aside-button {
  font-size: 34px;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
}
#site-header .mobile-aside-button svg {
  width: 100%;
  height: 100%;
  margin-top: 5px;
  vertical-align: top;
}
#site-header .mobile-aside-button:focus {
  outline: none;
}

#site-header.dark {
  background-color: black;
}
#site-header.dark svg {
  color: white;
}
#site-header.dark svg:hover {
  color: gray;
}
#site-header.dark .mainMenu li a, #site-header.dark .mainMenu li span, #site-header.dark .mainMenu2 li a, #site-header.dark .mainMenu2 li span {
  color: white;
}
#site-header.dark .mainMenu li a:hover, #site-header.dark .mainMenu li span:hover, #site-header.dark .mainMenu2 li a:hover, #site-header.dark .mainMenu2 li span:hover {
  color: gray;
}
#site-header.dark .offcanvasWidgetArea li a, #site-header.dark .offcanvasWidgetArea li span, #site-header.dark .offcanvasNavigation li a, #site-header.dark .offcanvasNavigation li span {
  color: black;
}
#site-header.dark .offcanvasWidgetArea li a:hover, #site-header.dark .offcanvasWidgetArea li span:hover, #site-header.dark .offcanvasNavigation li a:hover, #site-header.dark .offcanvasNavigation li span:hover {
  color: gray;
}
#site-header.light {
  background-color: aliceblue;
}
#site-header.light svg {
  color: black;
}
#site-header.light svg:hover {
  color: gray;
}
#site-header.light .mainMenu li a, #site-header.light .mainMenu li span, #site-header.light .mainMenu2 li a, #site-header.light .mainMenu2 li span {
  color: black;
}
#site-header.light .mainMenu li a:hover, #site-header.light .mainMenu li span:hover, #site-header.light .mainMenu2 li a:hover, #site-header.light .mainMenu2 li span:hover {
  color: gray;
}
#site-header.light .offcanvasWidgetArea li a, #site-header.light .offcanvasWidgetArea li span, #site-header.light .offcanvasNavigation li a, #site-header.light .offcanvasNavigation li span {
  color: black;
}
#site-header.light .offcanvasWidgetArea li a:hover, #site-header.light .offcanvasWidgetArea li span:hover, #site-header.light .offcanvasNavigation li a:hover, #site-header.light .offcanvasNavigation li span:hover {
  color: gray;
}
#site-header.primary {
  background-color: #007bff;
}
#site-header.primary svg {
  color: black;
}
#site-header.primary svg:hover {
  color: gray;
}
#site-header.primary .mainMenu li a, #site-header.primary .mainMenu li span, #site-header.primary .mainMenu2 li a, #site-header.primary .mainMenu2 li span {
  color: black;
}
#site-header.primary .mainMenu li a:hover, #site-header.primary .mainMenu li span:hover, #site-header.primary .mainMenu2 li a:hover, #site-header.primary .mainMenu2 li span:hover {
  color: gray;
}
#site-header.primary .offcanvasWidgetArea li a, #site-header.primary .offcanvasWidgetArea li span, #site-header.primary .offcanvasNavigation li a, #site-header.primary .offcanvasNavigation li span {
  color: #007bff;
}
#site-header.primary .offcanvasWidgetArea li a:hover, #site-header.primary .offcanvasWidgetArea li span:hover, #site-header.primary .offcanvasNavigation li a:hover, #site-header.primary .offcanvasNavigation li span:hover {
  color: gray;
}

#site-header {
  /* offcanvas mobile menu */
  /* close btn */
  /* estilo e comportamento */
  /* compotamento interno/"dos filhos" */
}
#site-header .offcanvasMobileMenu {
  position: fixed;
  z-index: 999999999999;
  top: 0;
  right: 0;
  width: 400px;
  max-width: 100%;
  height: 100vh;
  padding-left: 60px;
  transition: 0.6s;
  transform: translateX(100%);
}
#site-header .offcanvasMobileMenu.active {
  transform: translateX(0);
}
#site-header .offcanvasMobileMenu.inactive {
  transform: translateX(calc(100% + 60px));
}
#site-header .offcanvasMenuClose {
  font-size: 30px;
  line-height: 1;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 60px;
  height: 55px;
  padding: 0;
  text-align: center;
  color: #FFF;
  border: none;
  background: #343538;
}
#site-header .offcanvasMenuClose:hover, #site-header .offcanvasMenuClose:focus {
  color: #FFF;
  outline: none;
}
#site-header .offcanvasMenuClose i {
  font-size: 40px;
  line-height: 1;
  margin-top: 12px;
  transition: 0.3s;
  transform: rotate(0);
}
#site-header .offcanvasMenuClose:hover i {
  transform: rotate(-90deg);
}
#site-header .offcanvasWrapper {
  overflow: auto;
  height: 100%;
  background-color: #FFF;
  box-shadow: 0 0 87px 0 rgba(0, 0, 0, 0.09);
}
#site-header .offcanvasInnerContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px 15px 0;
}
#site-header .offcanvasWidgetArea {
  margin-top: auto;
  margin-bottom: 35px;
}

/*# sourceMappingURL=index.css.map */
